* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    font-size: 18px;
    display: flex;
    flex-direction: column;
}

div {
    border: 1px solid black;
}

.total {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 2rem;
}

.total>*+* {
    margin-top: 1rem;
}

.score>*+* {
    margin-top: 1rem;
}

.total .score {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}