* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    font-family: 'Hanken Grotesk';
    font-size: 18px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
}

div {
    border: .5px solid black;
}

.marginTop>*+* {
    margin-top: 1rem;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.total {
    align-items: center;
    padding: 1.25rem 3rem 2rem 3rem;
    border-radius: 0 0 2rem 2rem;
    background: linear-gradient(to top, hsl(241, 81%, 54%), hsl(252, 100%, 67%));
    color: hsl(241, 100%, 89%);
}

.total>*:nth-child(3) {
    color: white;
    font-size: 1.25rem;
}

.total>*:last-child {
    font-size: .95rem;
    text-align: center;
}

.score>*:first-child {
    font-size: 3rem;
    font-weight: 800;
    color: white;
}

.score>*:last-child {
    font-size: .90rem;
    color: hsl(241, 100%, 89%, .5);
}

/* .score>*+* {
    margin-top: 1rem;
} */

.total .score {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, hsla(241, 72%, 46%, 0), hsla(256, 72%, 46%, 1));
}

.itemizedSummary {
    padding: 1.25rem 2rem 0 2rem;
    align-items: flex-start;
}

.taskScore {
    width: 100%;
    padding: .75rem;
    display: flex;
    justify-content: flex-start;
    border-radius: .5rem;
    font-size: 0.95rem;
}

.taskScore *:last-child {
    margin-left: auto;
    font-weight: 700;
}

.taskScore *:last-child span {
    opacity: .3;
}

.taskScore *:first-child {
    padding-right: .5rem;
}

.maxWidth {
    width: 100%;
}

.reactionBackground {
    background: hsl(0, 100%, 67%, .075);
}

.memoryBackground {
    background: hsl(39, 100%, 56%, .075);
}

.verbalBackground {
    background: hsl(166, 100%, 37%, .075);
}

.visualBackground {
    background: hsl(234, 85%, 45%, .075);
}

.reactionColor {
    color: hsl(0, 100%, 67%);
}

.memoryColor {
    color: hsl(39, 100%, 56%);
}

.verbalColor {
    color: hsl(166, 100%, 37%);
}

.visualColor {
    color: hsl(234, 85%, 45%);
}

button {
    width: 100%;
    font-size: 18px;
    padding: .75rem;
    border: 0;
    border-radius: 20px;
    color: white;
    background: hsl(224, 30%, 27%);
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: .25rem;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}